body {
    background-color:#151515;
    font-family: "Segoe UI", Verdana, sans-serif;
    color: white;
}

#footer-logo-image {
    width: 100px;
    height: auto;
}

#footer{
    margin-top: 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
    border-top: 1px solid #94692d;
}

#footer-text {
    text-align: center;
}

.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax.apple {
    background-attachment: scroll;
    background-position: center center;
}

.parallax.apple::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(0);
    will-change: transform;
}


.parallax button {
    font-size: xx-large;
    color:#94692d;
    background-color:#151515;
    padding: 10px 30px;
    border: solid 3px #94692d;
    cursor: pointer;
}

.parallax button:hover {
    background-color:#94692d;
    color: #151515;
}

#nav {
    position: fixed;
    padding: 0 10px;
    display: flex;
    gap: 20px;
    background-color: #292929;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    height: 75px;
    z-index: 1000;
}

.inactive-link {
    color: #94692D;
    text-decoration: none;
    font-size: large;
    padding: 10px;
}

.inactive-link:hover {
    background-color: #151515;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.active-link {
    background-color: #94692D;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #292929;
    border: solid 1px #94692D;
    color: #94692D;
    font-weight: bold;
}
.chip img {
    float: left;
    margin: -10px 10px 0 -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#view {
    padding: 0 5%;
    padding-top: 100px;
}

.item-displayer {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    width: calc(30vw - 30px);
    background-color: black;
    border-radius: 10px;
    border: solid 1px #94692D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.item:hover {
    background-color: #292929;
}

.item.no-opener {
    cursor:default;
}

.item.no-opener:hover {
    background-color: black;
}

.item img {
    width: 90%;
    height: auto;
}

.item h3 {
    color:#94692D;
    text-align: center;
}

.nav-icon {
    height: 25px;
    width: auto;

}

@media only screen and (max-width: 800px) {
    .item-displayer {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        width: 85vw;
    }

    .chip img {
        height: 50px;
        width: 50px;
        margin: -5px 5px 0 -25px;
    }

    .chip {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border-radius: 25px;
        align-items: center;
        font-size: 3vw;
    }
}