* {
    box-sizing: border-box;
}

.slider-image {
    display: none;
}

.slider-image.show {
    display: block;
    height: 50vh;
    width: 100%; 
    margin-bottom: 20px;
}

.slider-image.show img {
    height: 100%;  
    width: auto;   
    object-fit: contain; 
}


.cursor {
    cursor: pointer;
}


.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: #94692D;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    color: #FF4136;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row {
    overflow-x: auto;
    display:flex;
    flex-direction: row;
    height:100px;
    width: 90vw;
    justify-content: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.column img {
    height: 100px;
    width: auto;
    object-fit: contain; 
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.active {
    border: 2px solid #94692D;
}

.slider-page {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.slider-container-container {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .slider-container-container,.row {
        width: 80vw;
    }
    
    .slider-page {
        flex-direction: column;
    }

    .img-holder, .img-zoom-result {
        display: none;
    }
}